version: '3'

services:
  app:
    image: moha1992/devopsback
    ports:
      - "8083:8083"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - mynetwork

  app1:
    image: moha1992/devopsfront
    ports:
      - "8089:80"
    env_file:
      - .env
    environment:
      - API_URL=http://app:8082  
    depends_on:
      - app
    networks:
      - mynetwork

  db:
    image: mysql:latest
    container_name: db
    ports:
      - "3306:3306"
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: devops
    networks:
      - mynetwork

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    depends_on:
      - db
    networks:
      - mynetwork

networks:
  mynetwork:
